<% if @pub_key.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
  <strong><%= pluralize(@pub_key.errors.count, "error") %> prohibited this key from being saved:</strong>
  <ul>
  <% @pub_key.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="one column">
    <strong>Title</strong>
  </div>
  <div class="five columns">
    <%= p.text_field :title,
          :placeholder => :title,
          :required => 'true',
          :class => 'u-full-width' %>
  </div>
</div>

<div class="row">
  <div class="one column">
    <strong>Key</strong>
  </div>
  <div class="five columns">
    <%= p.text_area :key,
          :placeholder => :key,
          :required => 'true',
          :class => 'u-full-width' %>
  </div>
</div>

<div class="row">
  <%= p.submit 'Save',
          :class => "btn btn-success" %>
</div>
