<%= form_for @share do |s| %>
  <% if @share.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <strong><%= pluralize(@share.errors.count, 'error') %> prohibited this share from being saved:</strong>
    <ul>
    <% @share.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <div class="two columns">
      <strong>Name</strong>
    </div>
    <div class="four columns">
      <%= s.text_field :name,
        :placeholder => :name,
        :required => 'true',
        :class => 'u-full-width' %>
    </div>
  </div>

  <div class="row">
    <div class="two columns">
      <strong>Storage path</strong>
    </div>
    <div class="four columns">
      <p><%= Rails.application.config.sftp['storage_path'] %></p>
    </div>
  </div>

  <div class="row">
    <div class="two columns">
      <strong>Path</strong>
    </div>
    <div class="four columns">
      <%= s.text_field :path,
        :placeholder => :path,
        :required => 'true',
        :class => 'u-full-width' %>
    </div>
  </div>

  <div class="row">
    <div class="two columns">
      <strong>Quota (bytes)</strong>
    </div>
    <div class="four columns">
      <% if Rails.application.config.sftp['quota_enabled'] %>
        <%= s.number_field :quota,
          :placeholder => :quota,
          :required => 'true',
          :class => 'u-full-width' %>
      <% else %>
        Disabled
      <% end %>
    </div>
  </div>

  <div class="row">
    <%= s.submit 'Save',
            :class => 'btn btn-success' %>
  </div>
<% end %>
