<%= link_to 'Add', new_share_path, :class => 'u-pull-right button button-primary' %>
<h4>Shares</h4>

<hr>

<% if @shares.any? %>
  <table class="u-full-width">
    <thead>
      <th>Name</th>
      <th>Path</th>
      <th>Usage</th>
      <th class="u-align-right">Actions</th>
    </thead>
    <tbody>
      <% @shares.each do |share| %>
      <tr>
        <td><%= link_to share.name.capitalize, share_path(share) %></td>
        <td><%= share.path %></td>
        <td><%= number_to_human_size(share.size) %>
          <% if share.quota? %>
            /<%= number_to_human_size(share.quota) %></td>
          <% end %>
        <td class="u-align-right">
          <%= link_to 'Delete', share_path(share),
                          :method => :delete,
                          data: { confirm: 'Are you sure? This will irreversibly delete ALL files and folders in this share!' }, :class => 'button button-danger button-small' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <em>No shares were found</em>
<% end %>
