<%= link_to "Edit", edit_user_path(:user_id => @user), :class => "pull-right button button-primary" %>
<h4><%= @user.name.capitalize %></h4>

<hr>

<div class="row">
  <div class="six columns">
    <h5>Details</h5>
    <strong>Name:</strong> <%= @user.name %><br>
    <strong>Email: </strong> <%= @user.email %>
  </div>
  <div class="six columns">
    <%= link_to "Add", new_user_pub_key_path(:user_id => @user), :class => "pull-right button button-primary" %>
    <h5>Public keys</h5>
    <% @user.pub_keys.each do |pubkey| %>
    <div class="row">
      <strong><%= link_to pubkey.fingerprint, edit_pub_key_path(pubkey) %></strong>
    </div>
    <% end %>
  </div>
</div>
