<%= link_to 'Edit', edit_user_path(:user_id => @user), :class => 'pull-right button button-primary' %>
<h4><%= @user.name.capitalize %></h4>

<hr>

<div class="row">
  <div class="six columns">
    <h5>Details</h5>
    <strong>Name:</strong> <%= @user.name %><br>
    <strong>Email: </strong> <%= @user.email %>
  </div>
  <div class="six columns">
    <%= link_to 'Add', new_user_pub_key_path(:user_id => @user), :class => 'pull-right button button-primary' %>
    <h5>Public keys</h5>
    <% if @user.pub_keys.any? %>
      <% @user.pub_keys.each do |pubkey| %>
      <ul>
        <li><%= link_to pubkey.title, edit_user_pub_key_path(@user, pubkey) %></li>
      </ul>
      <% end %>
    <% else %>
      <em>No public keys defined</em>
    <% end %>
  </div>
</div>
