<!DOCTYPE html>
<html>
<head>
  <title>SftpAdmin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
    <%= link_to dashboard_path, { :class => controller?('dashboard') ? 'active' : '' } do %>
      <div class="valign-middle">
        <i class="fa fa-dashboard"></i> Dashboard
      </div>
    <% end %>
    <%= link_to users_path, { :class => controller?('users', 'pub_keys') ? 'active' : '' } do %>
      <div class="valign-middle">
        <i class="fa fa-users"></i> Users
      </div>
    <% end %>
    <%= link_to shares_path, { :class => controller?('shares') ? 'active' : '' } do %>
      <div class="valign-middle">
        <i class="fa fa-archive"></i> Shares
      </div>
    <% end %>
    <%= link_to statistics_path, { :class => controller?('statistics') ? 'active': ''} do %>
      <div class="valign-middle">
        <i class="fa fa-database"></i> Statistics
      </div>
    <% end %>
</nav>

<div class="container">
  <div class="panel panel-main">
    <%= yield %>
  </div>
</div>

</body>
</html>
